* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

/* fonts required*/
.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

/* colors needed */
:root {
    --bg-color: rgb(62, 62, 62);
    --text-color: #fffdfd;
    --main-color: #11c653;
}

body {
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);


}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 17px 12%;
    transform: all .50s ease;
    background-color: rgb(0, 0, 0);
}

#icon {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    margin-left: 15vw;
}

.navbar a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    padding: 5px 5px;
    margin: 0px 15px;
    transition: all .50s ease;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a.active {
    /* color: var(--main-color); */
    color: #00FFA7;
}

.main {
    display: flex;
    align-items: center;
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
    margin-right: 30px;
}

@media (max-width:1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }

}

@media (max-width:884px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        /* right: 2%; */
        right: -100%;
        width: 100%;
        height: 70vh;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a {
        display: block;
        margin: 19px 0;
        padding: 0px 25px;
        transition: all .50s ease;
        color: rgb(248, 247, 247);
    }

    .navbar .active {
        color: black;
    }

    .navbar a:hover {
        color: var(--text-color);
        transform: translateY(5px);
    }

    .navbar a:active {
        color: var(--text-color);
    }

    .navbar.open {
        right: 2%;
    }
}

/* responsive end */
.line {
    background-color: rgb(55, 55, 55);
    height: 1px;
    width: 100%;
}


.heading {
    background-color: black;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.poppins-extralight {
    font-stretch: extra-expanded;
    font-size: 80px;
    font-weight: bolder;
}

.coloris {
    background: linear-gradient(to right, #FFFF00, #00FFA7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.para {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.headbutton {
    width: 211px;
    height: 55px;
    border-radius: 50px;
    background-color: #FFFFFF;
    font-weight: 600;
    justify-content: space-between;
    font-size: 18px;
    padding-top: 14px;
}

.arrow {
    background-color: black;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    float: right;
    margin: 0px 20px 20px 0px;
    padding: 5px;

}

/* services */
.services {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 90px 13% 20px 12%;
    color: black;

}

.services h1 {
    font-size: 45px;
    align-items: start;
    font-family: "Poppins", sans-serif;
    font-weight: 600;

}

.services h6 {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.services i {
    font-size: 30px;
    margin-top: 40px;
    padding: 10px;
}

.clogo {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
}

.container {
    background-color: #FFFFFF;
    padding: 15px 12%;
    padding-bottom: 100px;
    font-family: "Poppins", sans-serif;

}

.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 15px;
}

.container .box-container .box {
    border-radius: 10px;
    text-align: center;
    padding: 10px 0px;
    border: 2px solid black;
    width: 265px;
    height: 380px;

}

.container .box-container .box img {
    height: 156px;
    width: 261px;
}

.container .box-container .box h4 {
    color: #444;
    font-size: 15px;
    padding: 10px 0;
    font-weight: 600;
    text-align: start;
}

.container .box-container .box h2 {
    color: #444;
    font-size: 23px;
    padding: 10px 0;
    font-weight: 600;
}

.container .box-container .box p {
    color: #777;
    font-size: 15px;
    line-height: 1.8;
}


.explorebtn {
    border-radius: 50px;
    background-color: #FFFFFF;
    font-weight: 600;
    justify-content: space-between;
    font-size: 14px;
    width: 121px;
    height: 38px;
    float: right;
    margin-right: 10px;
    font-family: "Poppins", sans-serif;

}

.explorebtn:hover {
    background-color: black;
    color: white;
}

.explore {
    background: linear-gradient(to right, #FFFF00, #00FFA7);
    width: 90px;
    height: 95px;
    border-radius: 50%;
    padding-left: 3px;
    padding-right: 3px;

}

.box1 {
    background-color: #b8ebd0;
}

.box2 {
    background-color: #a8ecf0;
}

.box3 {
    background-color: #f2b9b9;
}

.box4 {
    background-color: #b3bdfb;
}

.line1 {
    height: 1px;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 10px;

}

footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    text-align: center;
}

.line2 {
    height: 1px;
    width: 50vw;
    border: 1px solid #5E5E5E;
    margin: 20px 0px;
}

footer p {
    color: #98A6AC;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

@media (max-width:884px) {
    .poppins-extralight {
        font-size: 50px;
    }

    .para {
        font-size: 15px;
    }

    .services h1 {
        font-size: 35px;
    }

    .services h6 {
        font-size: 15px;
        padding-right: 20px;
    }

    .services i {
        font-size: 19px;
        padding: 10px ;
        flex-wrap: nowrap;
    }

}

@media (max-width:570px) {
    .poppins-extralight {
        font-size: 30px;
    }

    .para {
        font-size: 10px;
    }

    .headbutton {
        width: 160px;
        height: 35px;
        font-weight: 600;
        font-size: 18px;
        padding-top: 6px;
        margin-top: 30px;
    }

    .arrow {
        width: 25px;
        height: 25px;
        margin: 0px 20px 90px 0px;
        padding: 2px;

    }
    .services i {
        font-size: 19px;
        padding:60px 10px ;
    }

}